# 반복문

특정 코드를 여러번 실행

# While 문

주어진 조건이 참인 동안 코드를 반복적으로 실행하는 조건문

while 조건:

  조건이 참인 경우 실행하는 문장
  
  조건이 참인 경우 실행되는 문장

In [1]:
# while문 외부에서 조건을 위한 변수 선언
num = 1

# while 조건 :
while num <= 5:
  # 조건이 참인 경우에 실행되는 문장
  print(num)
  # 조건을 변경시키는 문장을 항상 while문 내부에 포함시켜야 함.
  num += 1    # num = num + 1

print("while 문이 종료된 후 num은 %d 입니다." %num)

1
2
3
4
5
while 문이 종료된 후 num은 6 입니다.

In [ ]:
# 무한 루프
while True:
  print("안녕하세요")

while False:
  print("거짓이라서 실행이 안되요.")

# Break 문

while문을 조건과 관계없이 강제로 탈출하는 명령어

In [2]:
while True:
  print("안녕하세요")
  break

안녕하세요

In [3]:
num = 1

while True:
  print(num)
  num += 1

  if num > 5:
    break

1
2
3
4
5

# CONTINUE 명령어

while 문을 continue 아래의 문장을 무시하고 다름 루프로 실행시키는 코드
== continue를 만나는 순간 즉시 조건을 검색하러 간다

In [4]:
num = 0

while num <= 10:
  num += 1

  if num < 5:
    continue

  print(num)


# 1 : num = 0, num = num + 1 continue
# 2 : num = 1, num = num + 1 continue
# 3 : num = 2, num = num + 1 continue
# 4 : num = 3, num = num + 1 continue
# 5 : num = 4, num = num + 1 continue
# 6 : num = 5, num = num + 1 if 조건 만족 안함. print(num)
# 7 : num = 6, num = num + 1 if 조건 만족 안함. print(num)
# 8 : num = 7, num = num + 1 if 조건 만족 안함. print(num)
# 9 : num = 8, num = num + 1 if 조건 만족 안함. print(num)
# 10 : num = 9, num = num + 1 if 조건 만족 안함. print(num)
# 11 : num = 10, num = num + 1 if 조건 만족 안함. print(num)
# 12 : num = 11, while문 조건 충족 안함. 종료.

5
6
7
8
9
10
11

# n보다 작거나 같은 3의 배수 합 구하기



*   사용자로부터 정수 n을 입력받는다.
*   while 반복문을 사용하여 1부터 n까지의 숫자 중 3의 배수만 더한 합계를 출력한다.

In [18]:
a = int(input("숫자를 입력해주세요 : "))

num = 1
sum = 0

while num < a:
  if num % 3 ==0 :
    sum += num
  num += 1

print("1부터 %d까지의 3의배수들의 합은 %d 입니다." %(a, sum))

숫자를 입력해주세요 : 8
1부터 8 까지의 3의배수들의 합은 9 입니다.

# 1부터 입력한 수까지 홀수만 출력하되, 100보다 크면 종료하는 예제



*   사용자로부터 정수 n을 입력받는다.
*   while 반복문을 사용하여 1부터 n까지의 숫자 중 홀수만 출력한다.
*   단, 숫자가 100보다 크면 더 이상 출력하지 않고 반복문을 종료한다.
*   continue는 짝수를 건너뛸 떄 사용하고, break는 100초과 시 종료할 때 사용한다.

In [25]:
n = int(input("숫자를 입력해주세요 : "))

num = 1

while True:
  if num > 100 or num > n:
    break
  if num % 2 != 0:
    print(num)
    num += 1
  else :
    num += 1
    continue

숫자를 입력해주세요 : 15
1
3
5
7
9
11
13
15

# 반복문 FOR

특정 코드를 여러번 실행

# FOR 문



*   while문과 비슷하게 진행되지만, 조금 더 직관적이다.
*   continue, break문 사용 가능

for i in 시퀀스(리스트, 튜플, 문자열):

수행할 문장1

수행할 문장2

In [29]:
list1 = ['one', 'two', 'three', 'four', 'five']

count = 1
for i in list1:
  print(str(count) + '회차 i의 값: ', end='')
  print(i)
  count = count + 1

a = [(1,1),(2,2),(3,3)]
for (b,c) in a:
  print(b+c)

1회차 i의 값: one
2회차 i의 값: two
3회차 i의 값: three
4회차 i의 값: four
5회차 i의 값: five
2
4
6

# 학생들의 점수 출력 예제



*   아래와 같이 (이름, 점수) 형태의 튜플이 담긴 리스트가 주어진다.

  students = [('철수', 85), ('영희', 92), ('민수', 78)]
*for 반복문을 사용하여 다음과 같이 각 학생의 이름과 점수를 출력한다.

In [30]:
 students = [('철수', 85), ('영희', 92), ('민수', 78)]

for (name, score) in students:
  print(f"{name}의 점수는 {score}입니다." )

철수의 점수는 85입니다.
영희의 점수는 92입니다.
민수의 점수는 78입니다.

# Range 함수



*   항목 추가
*   항목 추가
*   항목 추가
*   항목 추가

In [31]:
# range(번호)
for i in range(10):
  print(i)

for i in range(10, -12, 2):
  print(i)

0
1
2
3
4
5
6
7
8
9

# 구구단 9단 출력

9 * 1 = 9

9 * 2 = 18

9 * 3 = 27

.....

9 * 9 = 81

In [40]:
for i in range(1, 10):
  print("9 X", i, "=", 9 * i)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 학생 점수에 따라 합격/불합격을 판별



*   학생들의 점수 리스트 scores = [15, 50, 46, 86, 94]가 주어진다.
*   for 반복문을 이용하여 리스트의 각 점수를 확인하며 다음 조건을 따른다.


1.   num이라는 번호가 1번부터 증가시킨다.
2.   번호가 짝수일 경우 continue를 사용하여 건너뛴다.
3.  번호가 5가되면 break를 사용하여 반복을 중단한다.
4.  그 외에는 점수가 50이상이면 "0번 학생 합격"을 출력한다.

In [54]:
scores = [15, 50, 46, 86, 94]

num = 1

for i in scores:
  if num % 2 == 0:
    num += 1
    continue
  if num == 5:
    break
  if i >= 50:
    print("%d번 학생 합격" %num)
    num += 1
  else:
    print("%d번 학생 불합격" %num)
    num += 1

1번 학생 불합격
3번 학생 불합격

# 예제 심화



*   학생들의 점수 리스트가 scores = [15, 50, 46, 86, 94, 100, 51, 60]으로 주어진다.
*   for 반복문과 조건문을 활용하여 다음 작업을 수행한다.


1.   각 학생에게 번호(1번부터)를 부여한다.
2.   홀수 번호 학생만 검사하며, 점수가 60점 이상이면 "0번 학생, 합격", 그렇지 않으면 "0번 학생, 불합격"을 출력한다.
3.  불학격한 홀수 번호 학생들의 점수를 누적하여 평균을 계산한다.
4.  반복이 끝난 후, 불합격자들의 평균 점수를 "불합격 받은 학생들의 평균 점수는 : 00점 입니다." 형식으로 출력한다.

In [57]:
scores = [15, 50, 46, 86, 94, 100, 51, 60]

num = 0
count = 0
sum = 0

for i in scores:
  num += 1

  if num % 2 == 0:
    continue
  if i >= 60:
    print("%d번 학생, 합격" %num)
  else:
    print("%d번 학생, 불합격" %num)
    count += 1
    sum = sum + i

avg = sum / count
print("불합격을 받은 학생들은 %d명이며, 평균 점수는 %d점 입니다." %(count,avg))

1번 학생, 불합격
3번 학생, 불합격
5번 학생, 합격
7번 학생, 불합격
불합격을 받은 학생들은 3명이며, 평균 점수는 37점 입니다.

In [59]:
# 3번 반복 1회차 떄, 내부에 있는 for문이 끝날 때 까지 기다린다.
        # 2회차 떄, 다시한번 * 5개가 출력
        # 3회차 때, * 5개 출력 → 엔터 → 출력 종료
for i in range(4):
  # 5번 반복
  for j in range(3):
    print('*', end='')

  print()

***
***
***
***

# 되세김 문제

# 1. 다음 코드의 결괏값은 무엇일까?

In [60]:
a = "Life is too short, you need python"

if "wife" in a : pirnt("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a : print("shirt")
elif "need" in a : print("need")
else: print("none")

shirt

# 2. while 문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자

In [61]:
result = 0
i = 1

while i <= 1000:
  if i % 3 == 0:
    result += i
  i += 1

print(result)

166833

# 3. while 문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해보자

In [62]:
i = 0

while True:
  i += 1
  if i > 5 :
    break
  print(i*'*')

*
**
***
****
*****

# 4. for문을 사용해 1부터 100까지의 숫자를 출력해보자

In [64]:
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 5. A학급에서 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다
#  scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
#  for 문을 사용하여 A학급의 평균 점수를

In [65]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
  total += score

average = total / len(A)

print(average)

79.0

# WHILE 반복문

# 1. 제곱 출력하기

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 입력된 정수 `num`까지의 숫자에 대해 다음을 수행한다:  
  - `while` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
  - `for` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
- 두 반복문 모두 `1^2`, `2^2`, ..., `num^2`까지의 결과를 출력해야 한다.

In [79]:
num = int(input("정수를 입력해 주세요: "))
a = 1

print("While 문")
while a <= num:
  print(a*a)
  a += 1

print("\nFor 문")
a = 1
for i in range(num):
  if a <= num:
    print(a*a)
    a += 1

정수를 입력해 주세요: 5
While 문
1
4
9
16
25

For 문
1
4
9
16
25

# 2. 공 튀기기 시뮬레이션

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 공의 초기 높이는 100cm이다.  
- 공은 한 번 튈 때마다 이전 높이의 3/5만큼 튄다.  
- 입력한 횟수만큼 공이 튄 후, 최종 높이를 출력한다.  
- 최종 출력 형식은 `"최종 높이: ○○"`와 같이 표시한다.

In [88]:
num = int(input("정수를 입력해주세요 : "))

h = 100
count = 1

while count < num:
  h = h * 3/5
  count +=1

print("최종 높이: %d cm입니다" %h)

정수를 입력해주세요 : 5
최종 높이: 12 cm입니다

# 3. 별찍기 문제
## 요구사항(4입력 예시)
- 패턴 1: 정방향 삼각형
- 패턴 2: 오른쪽 정렬 정방향 삼각형
- 패턴 3: 역삼각형
- 패턴 4: 오른쪽 정렬 역삼각형
- 패턴 5: 피라미드

# 패턴 1

In [234]:
i = 1

while i <= 5:
    print('*' * i)
    i += 1

*
**
***
****
*****

# 패턴 2

In [248]:
i = 1
n = 5

while i <= n:
    print(' ' * (n - i) + '*' * i)
    i += 1

print()

    *
   **
  ***
 ****
*****

# 패턴 3

In [236]:
i = 5

while i >= 1:
    print('*' * i)
    i -= 1

print()

*****
****
***
**
*

# 패턴 4

In [247]:
i = 5
n = 5

while i >= 1:
    print(' ' * (n - i) + '*' * i)
    i -= 1

*****
 ****
  ***
   **
    *

# 패턴 5

In [246]:
i = 1
n = 7

while i <= n:
    print(' ' * (n - i) + '*' * (2 * i - 1))
    i += 1

      *
     ***
    *****
   *******
  *********
 ***********
*************

# 4. 커피 자판기 시뮬레이션

## 요구 사항
- 사용자에게 커피 개수를 입력받는다.
- 사용자가 돈을 넣으면 다음 조건에 따라 처리한다:
  - 커피 값은 300원이다.
  - 300원을 넣으면 "커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 많이 넣으면 "거스름돈 ○○원을 주고 커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 적게 넣으면 "돈을 다시 돌려주고 커피를 주지 않습니다."를 출력하고, 남은 커피 수를 출력한다.  
- 커피가 0개가 되면 "커피가 다 떨어졌습니다. 판매를 중지합니다."를 출력하고 반복을 종료한다.

In [227]:
a = int(input("커피 개수를 입력해주세요 : "))

m = 0
n = 0

while a != 0:
  m = int(input("돈을 넣어주세요 : "))
  if m == 300:
    print("커피를 줍니다.")
    a = a - 1
    print("남은 커피는 %d잔입니다" %a)
  elif m > 300:
    n = m - 300
    print("거스름돈은 %d원을 돌려주고 커피를 줍니다." %n)
    a = a -1
    print("남은 커피는 %d잔입니다." %a)
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피는 %d잔입니다." %a)

print("커피가 다 떨어졌습니다. 판매를 중지합니다.")

커피 개수를 입력해주세요 : 2
돈을 넣어주세요 : 300
커피를 줍니다.
남은 커피는 1잔입니다
돈을 넣어주세요 : 500
거스름돈은 200원을 돌려주고 커피를 줍니다.
남은 커피는 0잔입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

# FOR 반복문

# 1. 문자열 내 알파벳 빈도수 출력

## 요구 사항
- 사용자로부터 문자열을 입력받는다.  
- 입력된 문자열에서 알파벳(a~z, A~Z)의 빈도수를 출력한다.  
- 대소문자는 구분하지 않는다.  
- 알파벳이 아닌 문자는 무시한다.  
- 알파벳은 오름차순으로 정렬하여 출력한다.

### 예시 입력
Hello, Python!

### 예시 출력
- e: 1
- h: 2
- l: 2
- n: 1
- o: 2
- p: 1
- t: 1
- y: 1

In [244]:
s = input("문자열을 입력하세요: ")

count = {}

for char in s:
    if char.encode().isalpha():
        char = char.lower()
        if char in count:
            count[char] += 1
        else:
            count[char] = 1


for char in sorted(count):
    print(f"- {char}: {count[char]}")

문자열을 입력하세요: asdㅁㄴㅇ
- a: 1
- d: 1
- s: 1

# 2. 계단식 숫자 출력

## 요구 사항
- 사용자로부터 정수 n을 입력받는다.  
- `for` 반복문을 이용해 다음과 같은 숫자 계단을 출력한다.  
- 각 줄에는 1부터 해당 줄 번호까지의 숫자를 공백과 함께 출력한다. 단, 마지막에는 공백이 있어선 안된다.
- 줄 수는 입력한 정수만큼 출력한다.

### 예시 출력 (입력: 5)
- 1
- 1 2
- 1 2 3
- 1 2 3 4
- 1 2 3 4 5

In [254]:
a = int(input("정수를 입력해주세요 : "))

for i in range(a):
  for j in range(i+1):
    if(j + 1 == i + 1):
      print(j+1)
    else:
      print(j+1, end=' ')

  print()

정수를 입력해주세요 : 7
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

# 3. 1부터 500까지 3과 5의 공배수 출력

## 요구 사항
- 1부터 500까지 숫자 중에서 **3과 5의 공배수**만 출력한다.  
- 출력 결과는 한 줄에 5개씩 출력되도록 한다.  
- 줄바꿈은 5개를 출력할 때마다 적용한다.  
- 각 숫자는 가독성을 위해 일정한 간격으로 정렬한다.

### 예시 출력
15 30 45 60 75

90 ...

In [214]:
count = 0

for i in range(500):
  if (i % 3 ==0 and i % 5 == 0):
    print(i, end= '\t')
    count += 1
    if count % 5 ==0:
      print()

0	15	30	45	60
75	90	105	120	135
150	165	180	195	210
225	240	255	270	285
300	315	330	345	360
375	390	405	420	435
450	465	480	495

# 4. 구구단 2단부터 9단까지 출력하기

## 요구 사항
- `for` 반복문을 중첩 사용하여 **2단부터 9단까지**의 구구단을 출력한다.  
- 각 단은 `단 제목`을 먼저 출력한 후, 그 단의 곱셈 결과를 1부터 9까지 출력한다.  
- 출력 형식은 `2 x 1 = 2`, `3 x 2 = 6`과 같은 형태로 출력한다.

In [221]:
for i in range(2, 10):
  print(i,'단')
  for j in range(1, 10):
    print(i, 'X', j, '=', i*j)

2 단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81