# 리스트 자료형(list)

**모든 종류의 자료형을 자유롭게 묶어서 사용할 수 있는 자료형의 묶음**

리스트(list)

[]             [1,2,3]      요소 변경 가능

대괄호를 사용해 정의

리스트 생성

  my_list = [10, 20, 30, 40]

빈 리스트 생성

  my_list = []

  my_list=list()

In [ ]:
# 비어 있는 리스트 생성
a = list()

# 리스트를 직접 선언
b = [1, "문자열", -0.5, '안녕']

# b리스트를 c에 복사
c = list(b)

print(a)
print(b)
print(c)

[]
[1, '문자열', -0.5, '안녕']
[1, '문자열', -0.5, '안녕']

# 리스트 인덱싱

리스트도 문자열과 유사하게 인덱싱 및 슬라이싱이 가능하다.

단, 문자열이나, 리스트 내부의 리스트도 하나의 요소로 취급한다.

In [ ]:
a = [1, "문자열", -0.5, "안녕"]
print(a)


# c리스트 안에 있는 요소 'b'에 접근하는 방법
c = [1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]

print(c[3][3][1])

[1, '문자열', -0.5, '안녕']
b

# 리스트슬라이싱    
특정 인덱스를 사용하여 리스트나 문자열의 일부분을 잘라서 가져오기


*   [시작 인덱스 : 끝 인덱스]


시작 인덱스의 기본값은 0
끝 인덱스는 포함되지 않음

In [ ]:
b = [1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]

# 리스트 덧셈과 곱셈

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

#리스트 덧셈
c = a + b
print('a + b = ', c)

#리스트 곱셈
print('a * 3 = ', a*3)
print('b * 4 = ', b*4)

a + b =  [1, 2, 3, 4, 5, 6]
a * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]
b * 4 =  [4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

# 리스트 관련 함수




*   LEN()
*   APPEND()
*   SORT()
*   REVERSE()
*   INDEX()
*   INSERT()
*   REMOVE()
*   POP()
*   COUNT()
*   EXTEND()

# LEN()

리스트의 길이를 구하는 함수

In [ ]:
b = [1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]

print(len(b))               # ['python', 'is', 'good', ['a', 'b', 'c']] 1개의 요소로 취급
print(len(b[3]))            # ['a', 'b', 'c'] 1개의 요소로 취급
print(len(b[3][0]))         #'python'

4
4
6

# INSERT()

insert(a,b) 리스트의 a번째 위치에 b를 삽입하는 함수이다.

In [ ]:
# insert(위치, 값)으로 원하는 위치에 값을 삽입한다.

a = [1,2,3,4,5]
print(a)

a.insert(0,6)
print(a)

[1, 2, 3, 4, 5]
[6, 1, 2, 3, 4, 5]

# APPEND()

리스트의 맨 마지막에 ()안에 값을 추가하는 함수이다.

In [ ]:
a = [1,2,3,4,5]
print(a)

a.append([6,7])
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [6, 7]]

# SORT()

리시트의 요소를 순서대로 정렬해 준다.

In [ ]:
a = [4,6,1,3,5]
print(a)

a.sort()
print(a)

[4, 6, 1, 3, 5]
[1, 3, 4, 5, 6]

# REVERSE()

리스트를 역순으로 뒤집어준다.

* 리스트를 정렬한 다음 역순으로 정렬하는것이 아니라 현재의 리스트 그대로 거꾸로 뒤집는다.

In [ ]:
a = ['b', 'c', 'a', 'e']
print(a)

a.reverse()
print(a)

['b', 'c', 'a', 'e']
['e', 'a', 'c', 'b']

# INDEX()

리스트에서 ()안에 들어간 값이 존재하면 인덱스 값을 리턴한다

In [ ]:
a = [1,2,3,4,5]
print(a.index(2))

print(a.index(4))

1
3

# EXTEND()

리스트의 덧샘과 마찬가지로 원래의 리스트에 다른 리스트를 더하게 된다.

In [ ]:
a = [1,2,3]
print(a)

a.extend([4,5])
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]

# REMOVE()

리스트의 원하는 요소(값) 제거


*   중복된 값이 있을 때, 첫 번째 값만 제거한다.

In [ ]:
a = [1,2,3,1,4,5]
print(a)

a.remove(1)
print(a)

a.remove(3)
print(a)

[1, 2, 3, 1, 4, 5]
[2, 3, 1, 4, 5]
[2, 1, 4, 5]

# POP()

리스트의 특정 위치에 있는 요소 '추출'하기

In [ ]:
a = [1,2,3,4,5]
print(a)

b = a.pop(2)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
3

# COUNT()

리스트에 있는 원하는 요소의 개수 세기

In [ ]:
a = [12,3,4,5,1,2.2,45,2,1,3,4,2]
print(a)

print(a.count(2))             # a리스트 안에 있는 요소 2의 개수를 세서 출력

[12, 3, 4, 5, 1, 2.2, 45, 2, 1, 3, 4, 2]
2

# 튜플 자료형

리스트와 마찬가지로, 모든 자료형을 담을 수 있는 자료형.

튜플은 한번 생성하면 값의 변경, 삭제가 불가능하다.

In [ ]:
# 모든 자료형을 담을 수 있는 자료형
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
print(t1)

#튜플 내부에 요소가 하나만 존재할 때 맨 뒤에,를 붙인다
t2 = (1,)
print(t2)

#튜플 생성시 ()를 생략해도 가능하다.
t3 = 1,2,3
print(t3)

# 1. 튜플 인덱싱
# 2. 튜플 슬라이싱
# 3. 튜플 더하기
# 4. 튜플 곱하기
# 5. LEN() 함수

# 위 함수는 사용이 가능하다.

(1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
(1,)
(1, 2, 3)

# 튜플 인덱싱

In [ ]:
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))

print(t1[0])

print(t1[3])

1
('python', 'is', 'good', ('a', 'b', 'c'))

# 튜플 슬라이싱

In [ ]:
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))

print(t1[2:])

(3, ('python', 'is', 'good', ('a', 'b', 'c')))

# 튜플 더하기

In [ ]:
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
t2 = 3,4

print(t1)
print(t2)

t3 = t1 + t2
print(t3)

(1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
(3, 4)
(1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')), 3, 4)

# 튜플 곱하기

In [ ]:
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
t2 = t1 * 3

print(t1)
print(t2)

(1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
(1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')), 1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')), 1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))

# 튜플 길이구하기

In [ ]:
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))

len(t1)

4

# 불 자료형(BOOL)

True(참), False(거짓)의 값만을 갖는 자료형

In [ ]:
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

# 논리 연산자



*   == 두 값이 같을 때 참을 반환
*   != 두 값이 다를 때 참을 반환
*   < 비교값보다 작을 때 참을 반환
*   '>' 비교값보다 클 때 참을 반환
*   <= 비교값보다 작거나 같을 때 참을 반환
*   '>=' 비교값보다 크거나 같을 때 참을 반환

In [ ]:
# 함수 생성
a = 5
b = 3
c = 5

# ==
print(a==b)
print(a==c)
print()

# !=
print(a!=b)
print(a!=c)
print()

# <
print(a<b)
print(a<c)
print()

# >
print(a>b)
print(a>c)
print()

# <=
print(a<=b)
print(a<=c)
print()

# >=
print(a>=b)
print(a>=c)

False
True

True
False

False
False

True
False

False
True

True
True

# 딕셔너리 자료형

사전, key와 Value를 한 쌍으로 가지는 자료형.

*   순차적으로 접근하지 않고, 오직 Key를 통해서 Value값에 접근.
*   순서가 없기 때문에, 인덱싱 및 슬라이싱이 불가능.
*   Key값은 고유한 값이므로, 중복되는 Key값을 사용하면 안됨.

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}
dic1 = {'a' : [1,2,3]}                                                                    # Value값에 리스트를 넣을 수 도 있다.

print(dic)
print(dic1)

{'사과': 'apple', '바나나': 'banana', '메론': 'melon', '복숭아': 'peach'}
{'a': [1, 2, 3]}

# 딕셔너리 추가 및 삭제

딕셔너리 쌍 추가
딕셔너리의 키와 값을 변수에 그대로 대입한다.

*   변수명[Key] = Value

딕셔너리 요소 삭제
del 키워드를 사용하여 요소를 삭제한다.


*   del 변수명[Key]

In [ ]:
# 딕셔너리 생성
a = {1: 'a'}
a[2] = 'b'

print(a)

#딕셔너리에 쌍추가
a['name'] = 'rey'
print(a)

#한쌍 더 추가
a[3] = [1,2,3]
print(a)

#딕셔너리 요소 삭제하기
del a[1]
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'rey'}
{1: 'a', 2: 'b', 'name': 'rey', 3: [1, 2, 3]}
{2: 'b', 'name': 'rey', 3: [1, 2, 3]}

# 딕셔너리 관련 함수


*   KEYS()
*   VALUES()
*   ITEMS()
*   CLEAR()
*   GET()
*   IN()

# keys()

딕셔너리의 Key만을 모아서 리턴해준다.

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}

print(dic.keys())

dict_keys(['사과', '바나나', '메론', '복숭아'])

# values()

딕셔너리의 Value값만을 모아서 리턴해준다.

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}

print(dic.values())

dict_values(['apple', 'banana', 'melon', 'peach'])

# items()

딕셔너리의 Key와 Value값을 모두 리턴한다

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}

print(dic.items())

dict_items([('사과', 'apple'), ('바나나', 'banana'), ('메론', 'melon'), ('복숭아', 'peach')])

# clear()

딕셔너리에 저장된 key값과 value값을 모두 지운다

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}

print(dic)

dic.clear()

print(dic)

{'사과': 'apple', '바나나': 'banana', '메론': 'melon', '복숭아': 'peach'}
{}

# get()

Key값을 활요해서 Value값을 가져 올 수 있다.

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}

print(dic.get('사과'))

apple

# in()

해당 Key가 딕셔너리 안에 있는지 확인하기

In [ ]:
dic = {'사과' : 'apple', '바나나' : 'banana', '메론' : 'melon', '복숭아' : 'peach'}

print('사과' in dic)
print('오렌지' in dic)

True
False

# 집합 자료형

집합(set)과 관련된 것을 처리하기 위해 만든 자료형

*   변수명 = set()
*   변수명 = set([1, 2, 3)
*   변수명 = set("python")

1. 중복을 허용하지 않는다
2. 순서가 없다.

In [ ]:
# 집합의 생성
s1 = set([1, 2, 3])

print(s1)

# 집합의 인덱싱을 사용하가 위해 리스트로 변환
l1 = list(s1)
print(l1)
print(l1[1])

# 집합을 튜플로 변환

t1 = tuple(s1)
print(t1)
print(t1[0])

{1, 2, 3}
[1, 2, 3]
2
(1, 2, 3)
1

# 집합 연산


*   교집합 &
*   합집합 |
*   차집합 -

In [ ]:
# 집합 생성
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합 구하기
print(s1 & s2)

# 합집합 구하기
print(s1|s2)

# 차집합 구하기
print(s1-s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

# 집합 관련 함수

*   ADD()
*   UPDATE()
*   REMOVE()

# add() 함수
이미 만들어진 자료형에 값을 추가 할 수 있다.

In [ ]:
# 집합 생성
s1 = set([1,2,3,4,5])
print(s1)

# 값 추가
s1.add(7)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7}

# update() 함수

여러개의 값을 한번에 추가 할 때 사용한다.

In [ ]:
# 집합 생성
s1 = set([1,2,3,4,5])
print(s1)

# 값 여러개 추가
s1.update([6,7,8,9])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# remove() 함수

특정 값을 제거 하고 싶을 때 사용한다

In [ ]:
# 집합 생성
s1 = set([1,2,3,4,5,67])
print(s1)

# 값 제거
s1.remove(67)
print(s1)

{1, 2, 3, 4, 5, 67}
{1, 2, 3, 4, 5}

# 조건문

*   특정 조건을 평가하고, 그 조건에 따라 다른 코드를 실행한다.

- if 문 : 주어진 조건이 참(True)일 경우에만 특정 코드를 실행

- else 문 : if 문의 조건이 거짓(False)일 경우에 실행

- elif문 : 첫 번째 if 조건이 거짓이고, 다른 조건을 평가하고자 할 때 실행

In [56]:
# 사용자의 문자 입력 받기
character = input("문자를 입력하세요 : ")

# 입력한 문자가 'a'인지 판별
if character == 'a':
  print("입력 받은 문자는 'a'입니다.")
else :
  print("입력 받은 문자는 'a'가 아닙니다.")

문자를 입력하세요 : b
입력 받은 문자는 'a'가 아닙니다.

In [61]:
a = False

if a:
  print("a는 True입니다.")
  print("if 문에 속해있는 문장입니다.")
else:
  print("a는 False입니다.")
  print("else문에 속해있는 문장입니다.")
  # else문이 들여쓰기를 통해 끝이 났음을 보여줌
print("테스트용 문장")

a는 False입니다.
else문에 속해있는 문장입니다.
테스트용 문장

In [63]:
# 수학점수와 영어줌수가 모두 60점 이상이면 합격을 통보
# and 연산자 : true, true → true

math = 70
eng = 60

# 하나라도 Flase면, False → 둘다 True 여면 True
if math and eng >= 60:
  print("합격")
else:
  print("불합격")

합격

# IN연산자

문자열, 리스트, 튜플에 원하는 원소가 있는지 확인하는 연산자

In [62]:
list1 = [1,2,3,4,5]
tuple1 = (2,3,4,5)

print(1 in list1)
print(1 in tuple1)

True
False

In [65]:
# 만약에 주머니에 돈이 있으면 택시를 타고, 없으면 걸어가라고 명령

pocket = ['phone', 'wallet', 'money', 'IDcard']

# in 사용시
if ('money' in pocket):
  print("택시를 타자!")
else:
  print("걸어서 가자!")

# not in 사용시
if ('money' not in pocket):
  print("걸어서 가자!")
else:
  print("택시를 타자!")

택시를 타자!
택시를 타자!

In [66]:
# 만약 주머니에 돈이 있거나 카드가 있으면 택시를 타고, 없으면 걸어가라고 명령.

pocket = ['phone', 'card', 'money', 'IDcard']

if('money' in pocket):
  print("택시를 타자")
elif('card'in pocket):
  print("택시를 타자")
else:
  print("걸어서 돌아가자")

# 논리 연산자 사용 경우

if ('money' in pocket or 'card' in pocket):
  print("택시를 타자")
else:
  print("걸어서 돌아가자")

택시를 타자
택시를 타자

# 점수에 따른 등급 부여 문제

학생들에게 점수에 따라서 등급을 부여하려고 한다.

90점 이상일 경우 A등급

80점 이상일 경우 B등급

70점 이상일 경우 C등급

70점 미만일 경우에는 D등급을 부여하는 코드를 작성하시오.

In [71]:
score = int(input("점수를 입력해 주세요 : "))


if (score >= 90):
  print("A")
elif (score >= 80):
  print("B")
elif (score >= 70):
  print("C")
else:
  print("D")

점수를 입력해 주세요 : 75
C

# 더 큰 숫자 출력 문제

사용자에게 정수 값을 2개 입력받아, 더큰 숫자를 출력하고, 만약 같은 숫자라면 같습니다. 라는 문장을 출력하시오.

In [75]:
a = int(input("첫번째 숫자를 입력해주세요 : "))
b = int(input("두번쨰 숫자를 입력해주세요 : "))

if a > b:
  print(a)
elif a < b:
  print(b)
elif a==b:
  print("입력된 두 수는 같습니다.")

첫번째 숫자를 입력해주세요 : 2
두번쨰 숫자를 입력해주세요 : 2
입력된 두 수는 같습니다.

# 숫자에 따른 단위 부여 문제

숫자가 1000이상이면, 백단위를 생략하고 K를 붙인다.

숫자가 1000000 이상이면, 십만 단위를 생략하고 M을 붙인다.

ex) 1,000 = K

1,000,000 = M

1,000,000,000 = G

In [127]:
num = int(input("숫자를 입력해 주세요 : "))
result = num

if (num >= 1000 and 1000000 > num):
  result = str(round(num / 1000)) + 'k'
elif (num >= 1000000 and 1000000000 > num):
  result = str(round(num / 1000000)) + 'm'
elif (num >= 1000000000):
  result = str(round(num / 1000000000)) + 'g'
print(result)

숫자를 입력해 주세요 : 1234567
1m

# 1. 평균 점수 구하기

홍길동 씨의 과목별 점수는 국어 80점 영어 75점 수학 55점이다. 홍길동씨의 평균 점수를 구해보자

In [87]:
lang = 80
eng = 75
math = 55

avg = (lang + eng + math) / 3

print("홍길동씨의 평균 점수는 ", avg, "점 입니다.")

홍길동씨의 평균 점수는  70.0 점 입니다.

# 2. 홀수, 짝수 판별하기

자연수 13이 홀수인지, 짝수인지 판별하는 코드를 작성하시오

In [88]:
a = 13

if (a%2 == 1):
  print("홀수입니다.")
else:
  print("짝수입니다.")

홀수입니다.

# 3. 주민등록번호 나누기

홍길동씨의 주민등록번호는 881120 - 1068234이다. 홍길동 씨의 주민등록 번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자

In [129]:
pin = "881120-1068234"

print("YYYYMMDD : 19"+pin[:6])
print("num :", pin[7:])

YYYYMMDD : 19881120
num : 1068234

# 4. 주민등록번호 인덱싱

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자.

In [95]:
pin = "881120-1068234"

if(pin[7:8] == '1'):
  print("남성입니다.")
else:
  print("여성입니다.")

1
남성입니다.

# 5. 문자열 바꾸기

다음과 같은 문자열 a:b:c:d가 있다. replace 함수를 사용하여 a#b#c#d로 바꿔출력하라

In [96]:
a = "a:b:c:d"
b = a.replace(":","#")

print(b)

a#b#c#d

# 6. 리스트 역순 정렬하기

[1,3,5,4,2] 리스트를 [5,4,3,2,1] 로 만들어보자

In [97]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()

print(a)

[5, 4, 3, 2, 1]

# 7. 리스트를 문자열로 만들기

['Life', 'is, 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력하시오

In [104]:
a = ['Life', 'is', 'too', 'short']

result = ' '.join(a)

print(result)

Life is too short

# 8. 튜플 더하기

(1, 2, 3) 튜플에 값 4를 추가하여 (1, 2, 3, 4)로 만든 후 출력하시오

In [109]:
t1 = (1, 2, 3)
t2 = (4,)
t3 = t1 + t2

print(t3)

(1, 2, 3, 4)

# 9. 딕셔너리의 키

다음과 같은 딕셔너리 a 가 있다. 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자

a = dict()

a['name'] = 'python'

a[('a',)] = 'python'

a[[1]] = 'python'

a[250] = 'python'

In [114]:
a = dict()

a['name'] = 'python'
a[('a',)] = 'python'
# a[[1]] = 'python'   리스트는 Key에 사용이 불가능하다.
a[250] = 'python'

# 10. 딕셔너리 값 추출하기

딕셔너리 a에서 'B'에 해당하는 값을 추출 해보자

In [111]:
a = {'A' : 90, 'B' : 80, 'C' : 70}

b = a.get('B')

print(b)

80

# 11. 리스트에서 중복 제거하기

a 리스트에서 중복 숫자를 제거해 보자.

In [112]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

b = set(a)

print(b)

{1, 2, 3, 4, 5}

# 12. 파이썬 변수

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나타나는 이유를 설명해 보자.

In [115]:
a = b = [1, 2, 3]
a[1] = 4
print(b)      # 동일한 리스트 객체를 가지고 있기 때문에 4로 바뀌어서 출력 된다.

[1, 4, 3]