In [1]:
print ("안녕하세요")      #print("")안에 출력할 내용을 적어 사용

a = 10
print(a)

a = 20
print(a)

a = 30
print(a)

안녕하세요
10
20
30

In [7]:
#type()함수는 타입을 알려주는 함수

a = 10
b = 10.123
c = 0o111       #8진수
d = 0x8BF       #16진수

print(a)
print(b)
print(c)
print(d)
print()

print(type(a))
print(type(b))
print(type(c))
print(type(d))

10
10.123
73
2239

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

In [33]:
#사칙연산

a = 4
b = 3

print(a)
print(b)
print()
print(a+b)          #덧셈
print(a*b)          #곱셉
print(a-b)          #뺄셈
print(a/b)          #나누기
print(a**b)         #제곱
print(7%3)          #나머지

4
3

7
12
1
1.3333333333333333
64
1

In [8]:
'문장을 적으면 안되요.'

'''
이부분도 주석입니다
여러 줄을 주석으로 구성하고 싶을 떄에는
문자열을 사용하면 됩니다.
'''

# 문자열 안에 ""를 사용하기 위해서 ''로 문자열을 구성
a = 'a. 누구는 말했다 "최선을 다해라"\n'
print(a)

#문자열 안에 ''를 사용하기 위해 ""로 문자열을 구성
b = "b. 누구는 말했다 '최선을 다해라'\n"
print(b)

#'''로 묶으면 띄어쓰기, 줄 바꿈까지 같이 출력이 가능하다
c = '''안녕
           하세
           요

'''
print(c)

a. 누구는 말했다 "최선을 다해라"

b. 누구는 말했다 '최선을 다해라'

안녕
           하세
           요

In [9]:
a = "누구는 말했다\n 최선을 다해라\n"           # \n은 줄바꿈 \t는 tap키 만큼 공간주기
print(a)

b = '115\t23\t2516'
c = '1\t31255\t456'

print(b)
print(c)

누구는 말했다
 최선을 다해라

115	23	2516
1	31255	456

In [ ]:
a1 = "python"                   # 문자도 더하기로 이어 붙이기가 가능하다
b1 = "is good"

test = a1 + b1
print(test)

In [35]:
test = "python good\n"        # 문자에 곱샘을 주면 그 횟수만큼 반복한다
print(test*2)

python good
python good

In [37]:
print("=" *30)
print("Python")
print("=" *30)

==============================
Python
==============================

In [38]:
test = "python is good"           #인덱싱 번호로 출력이 가능하다

print(test[3])

h

In [11]:
test1 = "i love\tpython."           # len()은 길이를 알려준다
print(test1)
print(len(test1))

i love	python.
14

In [12]:
test1 = "pyhton is good"            # count()는 해당 문자가 몇개인지 세어준다
print(test1.count('o'))
print(test1.count('a'))

3
0

In [13]:
test = "python is good"            # join()은 포함 시키는 함수이다.
print(','.join(test))

p,y,t,h,o,n, ,i,s, ,g,o,o,d

In [14]:
test1 = "pyhton is good"           #upper()함수는 대문자로 바꿔준다
test2 = "Pyhton is Good"

print(test1.upper())
print(test2.upper())

PYHTON IS GOOD
PYHTON IS GOOD

In [15]:
test1 = "pyhton is good"          # lower()함수는 소문자로 바꿔준다
test2 = "Pyhton is Good"

print(test1.lower())
print(test2.lower())

pyhton is good
pyhton is good

# 새 섹션

In [16]:
test = "  hi  "                 #strip 함수는 빈칸을 제거해준다.

print(test)
print(test.strip())
print(test.lstrip())            #왼쪽제거
print(test.rstrip())            #오른쪽제거

  hi
hi
hi
  hi

In [18]:
test = "pyhton is good"             #split()함수는 기준을 잡고 나눠준다
print(test.split())

test1 = 'a, b, c, d e'
print(test1.split(','))

['pyhton', 'is', 'good']
['a', ' b', ' c', ' d e']

In [23]:
test1 = "python is good"
print("원래 단어 : "+ test1 + "\n바뀐단어 : " + test1.replace("good","bad"))
print("원래 단어 : "+ test1 + "\n바뀐단어 : " + test1.replace("python is","i am"))

원래 단어 : python is good
바뀐단어 : python is bad
원래 단어 : python is good
바뀐단어 : i am good

In [41]:
test = "python is good"             #슬라이싱을 활용하면 원하는 만큼 출력이 가능하다
print(test[:4])
print(test[3:8])
print(test[8:])

pyth
hon i
s good

In [26]:
print("사과 10개가 있습니다.")                              #포맷을 활용하자

print("사과 %d개가 있습니다" %3)

number = 7
print("사과 %d개가 있습니다" %number)

fruit = "사과"
number = 4
print("저는 %d개의 %s가 있습니다"%(number, fruit))        # %를 사용하고 묶으면 한번에 가능하다

사과 10개가 있습니다.
사과 3개가 있습니다
사과 7개가 있습니다
저는 4개의 사과가 있습니다

In [49]:
test = "python is good"
print("{0:<20}".format(test))           #왼쪽정렬
print("{0:>20}".format(test))           #오른쪽 정렬
print("{0:^20}".format(test))           #가운데 정렬
print("{0:=^20}".format(test))          #빈칸 채우기

pi = 3.141592
print("(0.0.4f)".format(pi))
print("%d.2f"%pi)

python is good
      python is good
   python is good
===python is good===
(0.0.4f)
3.2f

In [29]:
name = "홍길동"
age = 30
print(f"나의 이름은 {name}입니다. 나이는 {age}살 입니다.")        # 앞에 f를 사용해서 묶어주면 {}를 통해서 포맷팅을 하기 쉬워진다.

나의 이름은 홍길동입니다. 나이는 30살 입니다.

In [30]:
a = input("내용을 입력해주세요 : ")
b = int(input("정수를 입력해주세요 : "))
c = float(input("실수를 입력해주세요 : "))

print(a)
print(b+c)

내용을 입력해주세요 : 히힣
정수를 입력해주세요 : 14
실수를 입력해주세요 : 48.123
히힣
62.123